/**
 * Login's css page
 */

#loginBox {
	background-image:url(<?php echo $this->images_directory; ?>/CrystalClear/128x128/actions/encrypted.png);
	background-repeat:no-repeat;
	background-position: right bottom;
	width: 25em;
	height: 17em;
	max-width: 100%;
	padding: 5%;
	padding-bottom: 3em;
	background-color: #f4f4f4;
	border : solid 1px #cccccc;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

#username, #pass {
	font-weight: bold;
	font-size: 11px;
	color: #666666;
	margin: 2px;
	vertical-align: bottom;
}

#username {
	height: 5em;
}

#username input, #pass input  {
	border: solid 1px #cccccc;
	color : #666666;
}

#lbLogin, #lbPass {
	text-align: left;
	padding-left: 20px;
	width: 30px;
}

#logon input{
	border: solid 1px #cccccc;
	background: #E9ECEF;
	color: #666666;
	font-weight: bold;
	font-size: 11px;
	padding: 4px;
	margin: 20px;
}

#content {
	position: relative;
	margin: auto;
	width: 500px;
	border-left: none;
}

/* End of login's css page*/
