/**
 * Timeline's css page
 */

a.usvn_tooltips {
	position: relative;
	color: #000;
	text-decoration: none;
	background-image: url('<?php echo $this->images_directory ?>/info.png');
	padding-right: 15px;
	background-repeat: no-repeat;
	background-position: right;
}

a.usvn_tooltips:hover {
	background-color: #EEEEEE;
}

a.usvn_tooltips span {
	z-index: 1;
	display: none
}

a.usvn_tooltips:hover span {
    display: block;
    position: absolute;
    top: 2em;
    left: 2em;
    width: 15em;
    border:1px solid #CBD5B8;
    background-color:#FFFFFF;
    color:#000;
    text-align: center
}
 
p.usvn_info {
	line-width: 15px;
}

.usvn_info input {
	margin: 0;
}

/* End of Project's css page*/
