/**
 * Project's css page
 */

ul#usvn_admin_section {
	list-style-type: none;
}

#usvn_admin_section li {
	display: inline;
	background-color: #99BEDF;
	border: 1px solid #ccc;
	border-bottom: 1px dotted #ccc;
	margin: 10px;
	padding: 6px;
	font-weight: bold;
}

#usvn_admin_section a:hover {
	color: #0E7FEF;
	font-weight: bolder;
}

/* End of Project's css page*/
