<script type="text/javascript" event="onmousedown()">
//HTMLTableToolsOptions.skipCells = [3];
//HTMLTableToolsOptions.skipCells = [1];

function register_position()
{
	mouse_x = 0;
	mouse_y = 0;
	document.onmousemove = position;
}

function position(evt){
	if(!evt) 
		evt = window.event;
	mouse_x = evt.clientX;
	mouse_y = evt.clientY;
} 

function cancel()
{
	document.getElementById('bulle').style.visibility = 'hidden';
}

function ajax(index, id)
{
    var xhr=null;
    if (window.XMLHttpRequest) 
        xhr = new XMLHttpRequest();
    else if (window.ActiveXObject) 
        xhr = new ActiveXObject("Microsoft.XMLHTTP");
    xhr.onreadystatechange = function() { alert_ajax(xhr, index, id); };
	if (index == 1)
		xhr.open("GET", "<?php echo $this->url(array('action' => 'RightManagement?pg=1&name="+ id + "')); ?>", true);
	if (index == 2)
	{
		var checkRead = document.getElementById('checkRead').checked;
		var checkWrite = document.getElementById('checkWrite').checked;
		var group = document.getElementById('group').value;	
		xhr.open("GET", "<?php echo $this->url(array('action' => 'RightManagement?pg=2&name="+ id +"&checkRead=" + checkRead + "&checkWrite=" + checkWrite + "&group="+ group + "')); ?>", true);
    }
	if (index == 3)
		xhr.open("GET", "<?php echo $this->url(array('action' => 'RightManagement?pg=3&name="+ id + "')); ?>", true);
	xhr.send(null);
}

function fctWrite()
{
	if (document.getElementById('checkWrite').checked == true)
		document.getElementById('checkRead').checked = true;
}

function fctRead()
{
	if (document.getElementById('checkWrite').checked == true)
		document.getElementById('checkRead').checked = true;
}

function alert_ajax(xhr, index, id)
{
	var docXML = xhr.responseXML;
	if (docXML)
	{
		if (index == 1)
		{
			var items_isreadable = docXML.getElementsByTagName("isreadable").item(0).firstChild.data;
			var items_iswritable = docXML.getElementsByTagName("iswritable").item(0).firstChild.data;
			var items_group = docXML.getElementsByTagName("group").item(0).firstChild.data;
			var bulle = "<h3><?php echo T_('Acces rights for ') ?>" + id +"</h3><table><tr><td><?php echo T_('Group') ?></td><td><select id='group'>";
			if (items_group == 3)
				bulle += "<option value=3 selected>Admin</option>";
			else
				bulle += "<option value=3>Admin</option>";
			if (items_group == 2)
				bulle += "<option value=2 selected>User</option>";
			else
				bulle += "<option value=2>User</option>";
			bulle += "</select></td></tr><tr><td><?php echo T_('Read') ?></td><td>"
			if (items_isreadable == 1)
				bulle += "<input id='checkRead' type='checkbox' checked onclick='javascript:fctRead();'/>";
			else
				bulle += "<input id='checkRead' type='checkbox' onclick='javascript:fctRead();'/>";
			bulle += "</td></tr><tr><td><?php echo T_('Write') ?></td><td>";
			if (items_iswritable == 1)
				bulle += "<input id='checkWrite' type='checkbox' checked onclick='javascript:fctWrite();'/>";
			else
				bulle += "<input id='checkWrite' type='checkbox' onclick='javascript:fctWrite();'/>";
			bulle += "</td></tr><tr><td><input type='button' value='Ok' onclick=\"javascript:ajax(2, '" + id + "');\" /></td><td>";
			bulle += "<input type='button' value='Cancel' onclick='javascript:cancel();'/></td>	</tr></table><label id='labelError'></label>";
			document.getElementById('bulle').style.visibility = 'visible';
			document.getElementById('bulle').innerHTML = bulle;
			document.getElementById('bulle').style.left = mouse_x - 15 + "px";
  			document.getElementById('bulle').style.top = mouse_y - 205 + "px";
		}
		if (index == 2)
		{
			var items_msg = docXML.getElementsByTagName("msg").item(0).firstChild.data;
			if (items_msg == "Ok")
				cancel();
			else
				document.getElementById('labelError').innerHTML = items_msg;
		}
		if (index == 3)
		{
			document.getElementById('txthtml2').innerHTML = docXML.getElementsByTagName("txthtml").item(0).firstChild.data;
			//document.getElementById('pathbefore').innerHTML += docXML.getElementsByTagName("pathbefore").item(0).firstChild.data;
			//alert(docXML.getElementsByTagName("msg").item(0).firstChild.data);
		}
	}
}

</script>
<body onLoad="javascript:register_position(); ajax(3, 'nop');">
<h1 id="usvn_title"><?php echo T_("Files list"); ?></h1>
<?php
/*print '<table class="sortable" id="users">' .
		'<thead><tr>' .
		'<th></th>' .
		'<th>' . T_('Name') . '</th>' .
		'<th>' . T_('Action') . '</th>' .
		'</tr></thead><tbody>';

if (count($this->browser)) {
	foreach ($this->browser as $tab) {
		$line = <<<EOF
		<tr>
			<td>{$tab['isDirectory']}</td>
			<td onmouseover="ajax(1, '{$tab['name']}');" onMouseOut="hiddenBulle();"><a href="javascript:ajax(3, '{$tab['name']}');">{$tab['name']}</a></td>
			<td onmouseover="ajax(1, '{$tab['name']}');" onMouseOut="hiddenBulle();"><a href="javascript:ajax(3, '{$tab['name']}');">T_("Rights"}</a></td>
		</tr>\n
EOF;
		echo $line;
	}
}
print '</tbody></table><br />';*/

//print '<div id="pathbefore"></div>';
print '<div id="txthtml2"></div>';

?>

<div id="bulle" style="visibility:hidden; position:absolute; background-color:#F2F2F2;"></div>
</body>
