/* @override 
	http://localhost/usvn-new/medias/usvn/stylesheets/new.css */
/*
   new.css
   USVN
   
   Created by Zak on 2009-04-03.
   Copyright 2009 USVN Team. All rights reserved.
*/

/* @group global */

* {
  padding: 0px;
	margin: 0px;
}
 
html {
	background: #ffffff;
	height: 100%;
	margin-bottom: 0px;
}
 
body {
	color: #000000;
	font: 100% "Lucida Grande", Lucida, Verdana, sans-serif;
}
 
li, p {
	font-size: 14px;
}
 
img {
	border: none;
}
 
a {
	color: #100076;
	text-decoration: none;
}
 
a:hover {
	color: #ADA08F;
	text-decoration: none;
}

ol {
  padding-left: 50px;
}

/* @end */

/* @group Header */
#header {
	background: #172933 url('../images/header_bg2.png') repeat-x;
  min-height: 124px;
}
 
#header #shaddow {
  min-height: 124px;
  min-width: 950px;
  margin-left: auto;
	margin-right: auto;
	background: transparent url('../images/header_back.png') no-repeat 0px 0px;  
}
 
#header #shaddow #header-wrapper {
  width: 1000px;
  margin-left: auto;
	margin-right: auto;
}
 
#header #shaddow #header-wrapper #logo {
  width: 320px;
  height: 124px;
  float: left;
	background: transparent url('../images/logo_trans.png') no-repeat 0px 0px;
}
 
#header #shaddow #header-wrapper #main-menu {
  height: 124px;
  width: 678px;
  float: left;
  text-align: center;
  vertical-align: bottom;
}
 
#header #shaddow #header-wrapper #main-menu ul {
/*  list-style: none;*/
  display: table;
  margin-left: auto;
	margin-right: auto;
	margin-top: 92px;
}
 
#header #shaddow #header-wrapper #main-menu ul li {
/*  float: left;*/
  display: table-cell;
  position: relative;
/*  width: 11em;*/
  margin-top: 92px;
}
 
#header #shaddow #header-wrapper #main-menu ul li a {
  height: 32px;
  float: left;
  text-decoration: none;
}
 
#header #shaddow #header-wrapper #main-menu ul li a span {
  float: left;
  margin-top: 0px;
  padding: 1px 10px 10px 10px;
  color: #ffffff;
}
 
#header #shaddow #header-wrapper #main-menu ul li a:hover {
  background: transparent url('../images/up_arrow.png') repeat-x center -50px;
}
 
#header #shaddow #header-wrapper #main-menu ul li a:hover span {
  color: #ffffff;
}
 
#header #shaddow #header-wrapper #main-menu ul li a#selected {
  background: transparent url('../images/up_arrow.png') repeat-x center -50px;
}
 
#header #shaddow #header-wrapper #main-menu ul li a#selected span {
  font-weight: bold;
  color: #D3B65E;
}

/* @end */

/* @group Container */
#container {
	background: url('../images/container_bg.png') repeat-x;
	min-height: 340px;
}
 
#container #container-wrapper {
	width: 998px;
	margin-left: auto;
	margin-right: auto;
}
 
#container #container-wrapper #sub-menu {
  /* Use the following to hide the menu */
  /*
  visibility: hidden;
  height: 0px;
  */
  
  background-color: #ffffff;
	/*border: 1px solid #cbd5b8;
	border-top: none;
	border-bottom: none;*/
}
 
#container #container-wrapper #main {
  /* Utile ?  */
  /* height: 100%; */
	background-color: #ffffff;
	border: 1px solid #cbd5b8;
	border-top: none;
	padding: 5px;
	font-size: 13px;
	font-family: 'Verdana','Helvetica';
	margin-left: 145px;
	margin-right: 145px;
}
 
#container #container-wrapper #hspacer {
}
 
#container #container-wrapper #footer {
	display: none;
	height: 50px;
	background-color: #d3d9c6;
	padding: 1px;
}

/* @end */

/* @group Submenu */

div#sub-menu {
	margin: 4px 0 0;
	padding: 5px 0 0;
	position: absolute;
	width: 140px;
	border-color: #cbd5b8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	overflow: hidden;
}

div#sub-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 2px;
}

div#sub-menu ul li {
	padding: 0;
	width: 100%;
	margin: 0;
	font-size: 13px;
}

div#sub-menu ul li * {
	padding: 3px 3px 4px;
}

div#sub-menu ul li h3 {
	font-size: 14px;
	border-bottom: 1px solid #c3a957;
	margin: 0;
}

div#sub-menu ul li a {
	background-color: #f8f8f8;
	display: block;
}

div#sub-menu ul li a:hover {
	background-color: #eee;
}



/* @end */

/* Intégration */

/* @group Styles spécifiques */

.usvn_require {
  color: red;
  float: none;
  font-weight: bold;
  margin-left: 3px;
}



/* @end */

/* @group Tableaux */

table.usvn_table, table.sortable {
  border-collapse: collapse;
  margin: auto;
  min-width: 300px;
  text-decoration: none;
  width: 80%;
}

table.usvn_table th, table.sortable th {
  background-color: #d3d9c6;
  border: 1px solid black;
	padding: 3px 4px;
}

table.usvn_table td, table.sortable td {
  border: 1px solid #cbd5b8;
	padding: 3px;
	vertical-align: top;
}

.even {
	
}

.odd {
	
}

/* @end */

/* @group Page d'accueil */

.usvn_info_project {
  background-image: url('../medias/default/images/CrystalClear/64x64/apps/easymoblog.png');
}

.usvn_info, .usvn_info_config, .usvn_info_user, .usvn_info_group, .usvn_info_project {
  background-color: #EFF2FF;
  background-position: right 17px;
  background-repeat: no-repeat;
  border-color: #CCCCCC;
  border-style: solid solid dotted;
  border-width: 1px;
  clear: both;
  margin: auto auto 2em;
  min-height: 80px;
  padding: 5px;
}

#loginBox {
  background-color: #F4F4F4;
  background-image: url('/medias/default/images/CrystalClear/128x128/actions/encrypted.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  border: 1px solid #CCCCCC;
  margin: auto;
  padding: 50px;
  text-align: center;
  vertical-align: middle;
}

form.usvn_form > fieldset > legend, .usvn_legend {
  font-weight: bold;
  margin-left: 5px;
}

.usvn_info p, .usvn_info_config p, .usvn_info_user p, .usvn_info_group p, .usvn_info_project p {
  font-size: 95%;
  line-height: 130%;
  margin: 10px 0 12px 10px;
}

h3 {
  color: #D3B65E;
  margin-bottom: 5px;
}

#usvn_index_projects ul, #usvn_index_groups ul {
  padding-left: 40px;
}



/* @end */

/* @group Profile */

form.usvn_form > fieldset {
  margin-bottom: 1em;
  padding: 5px;
}

form.usvn_form > fieldset > label {
  font-weight: bold;
}



/* @end */

/* @group Administration */

/* @group Admin::Home */
.usvn_info_config {
  background-image: url('/medias/default/images/CrystalClear/64x64/apps/kpackage.png');
}

.usvn_info h1, .usvn_info_config h1, .usvn_info_user h1, .usvn_info_group h1, .usvn_info_project h1 {
  clear: left;
  color: #D3B65E;
  font-size: 180%;
  font-weight: bold;
  margin: 0 0 3px;
}

.usvn_info ul, .usvn_info_config ul, .usvn_info_user ul, .usvn_info_group ul, .usvn_info_project ul {
  padding-left: 40px;
}


ul#usvn_admin_section {
  list-style-type: none;
}

#usvn_admin_section li {
  background-color: #99BEDF;
  border-color: #CCCCCC;
  border-style: solid solid dotted;
  border-width: 1px;
  display: inline;
  font-weight: bold;
  margin: 10px;
  padding: 6px;
	float: left;
	width: 45%;
}
/* @end */

/* @group Admin::Groups */
.usvn_info_group {
  background-image: url('/medias/default/images/CrystalClear/64x64/apps/Community Help.png');
}
/* @end */

.usvn_error {
	color: black;
	font-weight: bold;
	background-color: #FF9F9F;
	border : solid 1px #CF0000;
	background-position: 10px;
	background-repeat: no-repeat;
	vertical-align: middle;
	text-align: center;
	padding: 15px 0;
	margin-top: 15px;
}

#commits tr:hover {
	background-color: #FF9F9F;
	cursor: pointer;
}

/* @end */
