<fieldset>
	<legend>
		<?php echo T_("Group's attachements"); ?>
	</legend>
	<form name="users_to_groups" method="post" action="<?php echo $this->url(); ?>">
		<select id="groups_id[]" name="groups_id[]" multiple size="7">
		<?php
		if (count($this->allGroups)) {
			foreach ($this->allGroups as $group) {
				$line = "<option value='$group->groups_id'>$group->groups_name</option>";
				foreach ($this->attachedGroups as $selectedGroup) {
					if ($group->groups_name == $selectedGroup['groups_name']) {
						$line = "<option value='$group->groups_id' selected>$group->groups_name</option>";
						break;
					}
				}
				echo $line;
			}
		}
		?>
		</select>
		<?php if ($this->user_id) echo $this->formHidden('user_id', $this->user_id); ?>
		<?php if ($this->project_id) echo $this->formHidden('project_id', $this->project_id); ?>
		<br />
		<span onclick="selectObjectForm('groups_id[]')" class="usvn_action_js">
			<?php echo T_('Select all'); ?>
		</span>
		 /
		<span onclick="deSelectObjectForm('groups_id[]')" class="usvn_action_js">
			<?php echo T_('Select none'); ?>
		</span>
		<br />
		<?php echo $this->formSubmit('submit', T_("Submit")); ?>
	</form>
</fieldset>
<br />
