<script type="text/javascript">
function checkName() {
	var spanError = document.getElementById('error');
	var checkRegExp = new RegExp("^[ \t]*$");
	if (document.group.groups_name.value.length == 0
		|| checkRegExp.test(document.group.groups_name.value)) {
		spanError.innerHTML = 'Group\'s name empty, please fill it.';
		return false;
	}
	spanError.innerHTML = '';
	return true;
}
</script>
<h1>Group's information</h1>
<form name="group" method="post" action="<?php echo $this->url(); ?>">
	<span class="usvn_label"><?php echo T_("Name"); ?>:</span>
	<?php echo $this->formText('groups_name', (isset($this->group) ? $this->group->name : null)); ?>
	<br />
	<?php if (isset($this->group)) echo $this->formHidden('groups_id', $this->group->id); ?>
	<?php echo $this->formSubmit('submit', T_("Submit"), array("onClick" => 'return checkName();')); ?>
	<br /><br />
	<div id="error" class="usvn_error"></div>
</form>
