/**
 * USVN css
 */

html, body {
	font-family: 'Trebuchet MS', 'Verdana', 'Helvetica';
	font-size: 0.85em;
	margin: auto;
	height: 80%;
	background-color: white;
}

body > div {
 	margin: auto;
}

img {border: 0;}

#usvn_banner {
	background: #304BD2;
}

#usvn_header {
	background-image:url(/medias/images/bg_banner.png);
	border-bottom: 4px solid #0A1648;
	background-repeat:repeat-x;
	height: 158px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#usvn_logo img {
	margin-top: 30px;
	margin-left: 30px;
}

#usvn_content {
	position: relative;
    min-height: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#usvn_footer {
	border-top: 4px solid #0A1648;
	background: #4F6EFF;
	color: #FFFFFF;
}
