<fieldset>
	<legend class="usvn_legend">
		<?php echo T_("User's attachements"); ?>
	</legend>
	<form name="users_to_groups" method="post" action="<?php echo $this->url(); ?>">
		<select id="users_id[]" name="users_id[]" multiple size="7">
		<?php
		if (count($this->allUsers)) {
			foreach ($this->allUsers as $user) {
				$line = "<option value='$user->users_id'>$user->users_login</option>";
				foreach ($this->attachedUsers as $selectedUser) {
					if ($user->users_login == $selectedUser['users_login']) {
						$line = "<option value='$user->users_id' selected>$user->users_login</option>";
						break;
					}
				}
				echo $line;
			}
		}
		?>
		</select>
		<?php echo $this->formHidden('group_id', $this->group_id); ?>
		<br />
		<span onclick="selectObjectForm('users_id[]')" class="usvn_action_js">
			<?php echo T_('Select all'); ?>
		</span>
		 /
		<span onclick="deSelectObjectForm('users_id[]')" class="usvn_action_js">
			<?php echo T_('Select none'); ?>
		</span>
		<br />
		<?php echo $this->formSubmit('submit', T_("Submit")); ?>
	</form>
</fieldset>
<br />
