<script type="text/javascript">
HTMLTableToolsOptions.multiColSort = false;
HTMLTableToolsOptions.showSortIndex = false;
HTMLTableToolsOptions.skipCells = [6];
</script>
<div class="usvn_info_user">
	<h1><?php echo T_("Users"); ?></h1>
	<p>
		<?php echo T_("Administration of the users."); ?>
	</p>
</div>

<?php
print '<table class="sortable" id="users">' .
		'<thead><tr>' .
		'<th>' . T_('Login') . '</th>' .
		'<th>' . T_('Firstname') . '</th>' .
		'<th>' . T_('Lastname') . '</th>' .
		'<th>' . T_('Email') . '</th>' .
		'<th>' . T_('Administrator') . '</th>' .
		'<th>' . T_('Action') . '</th>' .
		'</tr></thead><tbody>';

if (count($this->users)) {
	$me = Zend_Auth::getInstance()->getIdentity();
	$me = $me['username'];
	foreach ($this->users as $user) {
		$edit = "<a href=\"{$this->url(array('action' => 'edit', 'login' => $user->users_login))}\">Edit</a>";
		$delete = "";
		if ($user->login != $me) {
			$delete .= "<a href=\"{$this->url(array('action' => 'delete', 'login' => $user->users_login))}\">Delete</a>";
		}
		if ($user->is_admin) {
			$admin = T_("yes");
		} else {
			$admin = T_("no");
		}
		$line = <<<EOF
		<tr>
			<td>{$user->login}</td>
			<td>{$user->firstname}</td>
			<td>{$user->lastname}</td>
			<td>{$user->email}</td>
			<td>{$admin}</td>
            <td>
                {$this->editLink('user', $user->login)}
                {$this->deleteLink('user', $user->login)}
            </td>
		</tr>\n
EOF;
		echo $line;
	}
}
print '</tbody></table><br />';
?>
