<script type="text/javascript">
function checkName() {
	spanError = document.getElementById('error');
	var checkRegExp = new RegExp("^[ \t]*$");
	var group = document.getElementById('group');
	if (group.groups_name.value.length == 0
		|| checkRegExp.test(group.groups_name.value)) {
		spanError.innerHTML = "<?php echo T_('Group\'s name empty, please fill it.'); ?>";
		spanError.className = "usvn_error";
		return false;
	}
	spanError.innerHTML = '';
	spanError.className = "";
	return true;
}
</script>
<form id="group" method="post" action="<?php echo $this->url ?>">
	<fieldset>
		<legend class="usvn_legend">Group's information</legend>
		<label class="usvn_label"><?php echo T_("Group name"); ?><span class="usvn_require">*</span>:<br />
			<?php echo $this->formText('groups_name', (isset($this->group) ? $this->group->name : null), array('maxlength' => 150)); ?>
		</label>
		<br />
		<label class="usvn_label"><?php echo T_("Group description"); ?>:<br />
			<?php echo $this->formTextarea('groups_description', (isset($this->group) ? $this->group->description : null), array('rows' => 8, 'cols' => 80)); ?>
		</label>
		<br />
		<?php echo $this->formSubmit('submit', T_("Submit"), array("onclick" => 'return checkName();')); ?>
		<br />
		<div id="error"></div>
	</fieldset>
</form>
<br />
