<script type="text/javascript">
HTMLTableToolsOptions.multiColSort = false;
HTMLTableToolsOptions.showSortIndex = false;
HTMLTableToolsOptions.skipCells = [3];
</script>
<div class="usvn_info_group">
	<h1><?php echo T_("Groups"); ?></h1>
	<p>
		<?php echo T_("Groups section."); ?>
	</p>
</div>
<?php
print '<table class="sortable" id="groups">' .
		'<thead><tr>' .
		'<th>' . T_('Name') . '</th>' .
		'<th>' . T_('Description') . '</th>' .
		'<th>' . T_('Action') . '</th>' .
		'</tr></thead><tbody>';

if (count($this->groups)) {
	foreach ($this->groups as $group) {
		$line = <<<EOF
		<tr>
			<td>{$group->name}</td>
			<td>{$group->description}</td>
			<td>
                {$this->editLink('group', $group->name)}
                {$this->deleteLink('group', $group->name)}
            </td>
		</tr>\n
EOF;
		echo $line;
	}
}
print '</tbody></table><br />';
?>
