
/**
 * print.css of default's template
 */

html, body {
	font-family: 'Trebuchet MS', 'Verdana', 'Helvetica';
	margin: auto;
	height: 80%;
    background: #FFFFFF;
}

body > div {
 	margin: auto;
}

img {border: 0;}

#usvn_banner {
	background: #334BCF;
}

#usvn_header {
	background-image:url(<?php echo $this->images_directory ;?>/bg_banner.png);
	border-bottom: 4px solid #0A1648;
	background-repeat:repeat-x;
	height: 158px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#usvn_logo img {
	margin-top: 30px;
	margin-left: 30px;
}

#usvn_content {
	position: relative;
    min-height: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#usvn_footer {
	border-top: 4px solid #0A1648;
	background: #4F6EFF;
	color: #FFFFFF;
}

#usvn_toolbox {
	float: right;
	background-color: #3355FF;
}

.usvn_label {
	display: block;
	margin-bottom: 0.1em;
}

.usvn_error {
	color: red;
	font-weight: bold;
}

#usvn_debug div:hover div{
	display: block;
}

#usvn_debug_view {
	display:none;
	background-color: gray;
	padding-bottom: 500px;
}

a:link, a:visited {
	color: #0810E5;
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	color: #8888E5;
	background-color: transparent;
	text-decoration: none;
}

/* End of print.css */
