
/**
 * screen.css of default's template
 */

/* Require for HTMLTableTools */
@import "<?php echo $this->medias_directory; ?>/default/js/tools/HTMLTableTools/table.css";

<?php include($this->css_directory . "/login.css"); ?>

html, body {
	font-family: 'Trebuchet MS', 'Verdana', 'Helvetica';
	margin: auto;
	height: 80%;
    background: #FFFFFF;
}

body > div {
 	margin: auto;
}

img {border: 0;}

#usvn_header {
	background-color: #334BCF;
	background-image:url(<?php echo $this->images_directory ;?>/bg_banner.png);
	border-bottom: 4px solid #0A1648;
	background-repeat:repeat-x;
	height: 158px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#usvn_logo img {
	margin-top: 30px;
	margin-left: 30px;
}

#usvn_content {
	position: relative;
    min-height: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#usvn_footer {
	border-top: 4px solid #0A1648;
	background: #4F6EFF;
	color: #FFFFFF;
}

.usvn_label {
	display: block;
	margin-bottom: 0.1em;
}

#usvn_title {
	height:45px;
	color: #003366;
	margin-bottom: 10px;
}

.usvn_error {
	color: red;
	font-weight: bold;
	background-color: #FF9F9F;
	border : solid 1px #CF0000;
	background-image: url(<?php echo $this->images_directory ;?>/CrystalClear/32x32/actions/stop.png);
	background-position: 10px;
	background-repeat: no-repeat;
	padding-left: 60px;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul#usvn_menu, ul#usvn_submenu, #logged {
	background-color: #000000;
	border-bottom: 4px solid #0A1648;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: small;
}

ul#usvn_subsubmenu {
	background-color: #000055;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}

#usvn_logged {
	color: #5F5F5F;
}

ul#usvn_submenu {
	background-color: #000055;
}

#usvn_menu li, #usvn_submenu li {
	display: inline;
}

#usvn_menu a, #usvn_submenu a, #usvn_subsubmenu a, #logged {
	color: #AFAFAF;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #0A1648;
}

#usvn_menu_selected a, #usvn_submenu_selected a, #usvn_subsubmenu_selected a {
	color: black;
	background-color: #AFAFAF;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #0A1648;
}

#usvn_menu a:hover, #usvn_submenu a:hover {
	color: white;
	border: 1px solid white;
}

#usvn_debug div:hover div{
	display: block;
}

#usvn_debug_view {
	display:none;
	background-color: gray;
	padding-bottom: 500px;
}

a:link, a:visited {
	color: #0810E5;su
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	color: #8888E5;
	background-color: transparent;
	text-decoration: none;
}

.usvn_action_js {
	cursor: pointer;
	font-weight: bold;
}

/* End of screen.css */
