<div class="usvn_info_config">
	<h1><?php echo T_("Administration"); ?></h1>
	<p>
		<?php echo T_("Administration section."); ?>
	</p>
</div>
<ul id="usvn_admin_section">
	<li>
		<a href="<?php echo $this->url(array('controller' => 'config'));?>">
            <?php echo $this->img(T_("CrystalClear/64x64/apps/kpackage.png", T_("Configuration")));?>
			<?php echo T_("Configuration");?>
		</a>
	</li>
	<li>
		<a href="<?php echo $this->url(array('controller' => 'project'));?>">
            <?php echo $this->img(T_("CrystalClear/64x64/apps/easymoblog.png", T_("Projects")));?>
			<?php echo T_("Projects");?>
		</a>
	</li>
	<li>
		<a href="<?php echo $this->url(array('controller' => 'group'));?>">
            <?php echo $this->img(T_("CrystalClear/64x64/apps/Community Help.png", T_("Groups")));?>
			<?php echo T_("Groups");?>
		</a>
	</li>
	<li>
		<a href="<?php echo $this->url(array('controller' => 'user'));?>">
            <?php echo $this->img(T_("CrystalClear/64x64/apps/kdmconfig.png", T_("Users")));?>
			<?php echo T_("Users");?>
		</a>
	</li>
</ul>
