Source: usvn
Section: admin
Priority: extra
Maintainer: Julien Duponchelle <julien@duponchelle.info>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: usvn-sqlite
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends} usvn-common, php5-sqlite
Description:SQLite version of USVN
 Graphical web interface for manage Subversion repositories.

Package: usvn-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, php5, subversion, libapache2-svn, apache2
Description: Common files for USVN
 Graphical web interface for manage Subversion repositories.
