#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1



configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: patch build-stamp

build-stamp: configure-stamp
	dh_testdir
	touch $@

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_install --fail-missing


	# set rights on some files
	find debian/ -type f -and -name \*.php -print0 | xargs -0ri chmod 0644  '{}'
	find debian/ -type f -and -name \*.xml -print0 | xargs -0ri chmod 0644  '{}'
	find debian/ -type f -and -name \*.png -print0 | xargs -0ri chmod 0644  '{}'
	find debian/ -type f -and -name \*.mo -print0 | xargs -0ri chmod 0644  '{}'
	find debian/ -type f -and -name \*.txt -print0 | xargs -0ri chmod 0644  '{}'
	find debian/ -type f -and -name \*.phtml -print0 | xargs -0ri chmod 0644  '{}'
	find debian/ -type f -and -name install-commandline.php -print0 | xargs -0ri chmod 0755  '{}'

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installchangelogs
	dh_link
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
