/**
 * Group's css page
 */

#usvn_list_project {
	padding-left: 15px;
}

#usvn_list_project h3 {
	color: #11518F;
	margin-bottom: 5px;
}

#usvn_list_project p {
	padding-left: 10px;
	font-style: italic;
	font-weight: bold;
}

#usvn_list_project ul {
	list-style-type: none;
}

/* End of group's css page*/
