/**
 * Login's css page
 */

#loginBox {
	background-image:url(<?php echo $this->images_directory; ?>/CrystalClear/128x128/actions/encrypted.png);
	background-repeat:no-repeat;
	background-position: right bottom;
	background-color: #f4f4f4;
	border : solid 1px #cccccc;
	padding: 50px;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}


/* End of login's css page*/
