<script type="text/javascript">
HTMLTableToolsOptions.multiColSort = false;
HTMLTableToolsOptions.showSortIndex = false;
HTMLTableToolsOptions.skipCells = [2];
</script>
<h1 id="usvn_title"><?php echo T_("Groups list"); ?></h1>

<?php
print '<table class="sortable" id="groups">' .
		'<thead><tr>' .
		'<th>' . T_('Name') . '</th>' .
		'<th>' . T_('Action') . '</th>' .
		'</tr></thead><tbody>';

if (count($this->groups)) {
	foreach ($this->groups as $group) {
		$line = <<<EOF
		<tr>
			<td>{$group->groups_name}</td>
			<td><a href="{$this->url(array('action' => 'edit', 'name' => $group->groups_name))}">Edit</a>
				&nbsp;
				<a href="{$this->url(array('action' => 'delete', 'name' => $group->groups_name))}">Delete</a></td>
		</tr>\n
EOF;
		echo $line;
	}
}
print '</tbody></table><br />';
?>
