<?php echo $this->completion(); ?>
<div class="usvn_info">
	<h1><?php echo $this->project->name;?></h1>
	<p><?php echo $this->project->description;?><br /><br />
<?php echo sprintf(T_("Checkout URL : %s"), Zend_Registry::get('config')->subversion->url . $this->project->name . "/trunk/"); ?>
</p>
</div>
<div class="usvn_info">
	<?php if ($this->isAdmin) : ?>
	<form style="float: right; text-align: right;" action="<?php echo $this->url(array("action" => "adduser")); ?>" method="post">
		<div>
		<table>
		<tr><td>
			<?php echo $this->formText("users_login", null, array("onkeyup" => "javascript:ajax_completion(1, 'completion', 'users_login')", "autocomplete" => "off")); ?>
		</td><td>
			<?php echo $this->formSubmit("adduser", T_("Add")); ?>
		</td></tr>
		<tr><td><div id="completion" class="_list_autocomplete_ajax" style="visibility:hidden"></div></td><td></td></tr>
		</table>
		</div>
	</form>
	<?php endif; ?>
	<h1><?php echo T_("Admins Users");?></h1>
	<ul>
	<?php foreach ($this->project->findManyToManyRowset("USVN_Db_Table_Users", "USVN_Db_Table_UsersToProjects") as $user) :?>
		<li>	
		<?php echo $this->urlConfirm(array("action" => "deleteuser", "users_id" => $user->id), $this->img("/CrystalClear/16x16/actions/editdelete.png", T_("Delete")),
		T_("Would you like delete this admin ?")); ?>
		
		&nbsp;<?php echo $user->login; ?></li>
	<?php endforeach; ?>
	</ul>
</div>
<div class="usvn_info">
	<?php if ($this->isAdmin) : ?>
	<form style="float: right; text-align: right;" action="<?php echo $this->url(array("action" => "addgroup")); ?>" method="post">
		<div>
		<table>
		<tr><td>
			<?php echo $this->formText("groups_name", null, array("onkeyup" => "javascript:ajax_completion(2, 'completion1', 'groups_name')", "autocomplete" => "off")); ?>
		</td><td>
			<?php echo $this->formSubmit("addgroup", T_("Add")); ?>
		</td></tr>
		<tr><td><div id="completion1" class="_list_autocomplete_ajax" style="visibility:hidden"></div></td><td></td></tr>
		</table>
		</div>
	</form>
	<?php endif; ?>
	<h1><?php echo T_("Affected Groups");?></h1>
	<ul>
	<?php foreach ($this->project->findManyToManyRowset("USVN_Db_Table_Groups", "USVN_Db_Table_GroupsToProjects") as $group) :?>
		<li>
			<?php echo $this->urlConfirm(array("action" => "deletegroup", "groups_id" => $group->id), $this->img("/CrystalClear/16x16/actions/editdelete.png", T_("Delete")), T_("Would you like delete this group ?")); ?>		
			&nbsp;<a href="<?php echo $this->url(array("action" => "managegroup", "name" => $group->name)); ?>">
				<?php echo $this->img("/CrystalClear/16x16/actions/edit.png", T_("Manage")); ?>
			</a>&nbsp;<?php echo $group->name; ?></li>
	<?php endforeach; ?>
	</ul>
</div>
<div class="usvn_info">
	<h1><?php echo T_("Last five commit") ?></h1>
	<pre><?php echo $this->log ?></pre>
</div>
