<script type="text/javascript">
function checkPassword() {
	if (document.user.users_password.value != document.user.users_password2.value) {
		return false;
	}
	return true;
}
</script>
<form name="user" method="POST" action="<?php echo $this->url(); ?>">
	<span class="usvn_label"><?php echo T_("Login"); ?>:</span>
	<?php echo $this->formText('users_login', (isset($this->user) ? $this->user->login : null)); ?>
	<br />
	<span class="usvn_label"><?php echo T_("Password"); ?>:</span>
	<?php echo $this->formPassword('users_password',  null); ?>
	<?php echo $this->formPassword('users_password2',  null); ?>
	<br />
	<span class="usvn_label"><?php echo T_("Lastname"); ?>:</span>
	<?php echo $this->formText('users_lastname', (isset($this->user) ? $this->user->lastname : null)); ?>
	<br />
	<span class="usvn_label"><?php echo T_("Firstname"); ?>:</span>
	<?php echo $this->formText('users_firstname', (isset($this->user) ? $this->user->firstname : null)); ?>
	<br />
	<span class="usvn_label"><?php echo T_("Email"); ?>:</span>
	<?php echo $this->formText('users_email', (isset($this->user) ? $this->user->email : null)); ?>
	<br />
	<?php if (isset($this->user)) echo $this->formHidden('users_id', $this->user->id); ?>
	<?php echo $this->formSubmit('submit', T_("Submit"), array("onClick" => 'return checkPassword();')); ?>
</form>
<br />
<a href="<?php echo $this->url(array('action' => '')); ?>"><?php echo T_('Return'); ?></a>
