<script type="text/javascript">
HTMLTableToolsOptions.skipCells = [5];
</script>
<h1 id="usvn_title"><?php echo T_("Users list"); ?></h1>

<?php
print '<table class="sortable" id="users">' .
		'<thead><tr>' .
		'<th>' . T_('Login') . '</th>' .
		'<th>' . T_('Firstname') . '</th>' .
		'<th>' . T_('Lastname') . '</th>' .
		'<th>' . T_('Email') . '</th>' .
		'<th>' . T_('Action') . '</th>' .
		'</tr></thead><tbody>';

if (count($this->users)) {
	foreach ($this->users as $user) {
		$line = <<<EOF
		<tr>
			<td>{$user->users_login}</td>
			<td>{$user->users_firstname}</td>
			<td>{$user->users_lastname}</td>
			<td>{$user->users_email}</td>
			<td><a href="{$this->url(array('action' => 'edit', 'login' => $user->users_login))}">Edit</a>
			&nbsp;
			<!--<a href="{$this->url(array('action' => 'delete', 'login' => $user->users_login))}">Delete</a>--></td>
		</tr>\n
EOF;
		echo $line;
	}
}
print '</tbody></table><br />';
print "<a href=" . $this->url(array('action' => 'new')) . ">" . T_('Add a new user') . "</a><br />";
print "<a href=" . $this->url(array('action' => 'import')) . ">" . T_('Import htpasswd') . "</a><br />";
print "<a href=" . $this->url(array('action' => 'editProfile')) . ">" . T_('Edit my profile') . "</a>";
?>
