<script type="text/javascript">
function checkForm() {
	var spanError = document.getElementById('error');
	var checkRegExp = new RegExp("^[ \t]*$");
	if (!document.userProfile.users_password.value.length || !document.userProfile.users_password2.value.length) {
		spanError.innerHTML = 'Password empty.';
		return false;
	}
	if (document.userProfile.users_password.value != document.userProfile.users_password2.value) {
		spanError.innerHTML = 'Password incorrect (not the same).';
		return false;
	}
	if (document.userProfile.users_password.value.length < 8) {
		spanError.innerHTML = 'Password incorrect (need more 8 characters).';
		return false;
	}
	spanError.innerHTML = '';
	return true;
}
</script>
<h1><?php echo T_("My account"); ?></h1>
<form name="userProfile" method="post" action="<?php echo $this->url(); ?>">
	<span class="usvn_label"><?php echo T_("Login"); ?>: <?php echo $this->user->login; ?></span>
	<br />
	<span class="usvn_label"><?php echo T_("Password"); ?>:</span>
	<?php echo $this->formPassword('users_password',  null); ?>
	<?php echo $this->formPassword('users_password2',  null); ?>
	<br />
	<span class="usvn_label"><?php echo T_("Lastname"); ?>:</span>
	<?php echo $this->formText('users_lastname', (isset($this->user) ? $this->user->lastname : null)); ?>
	<br />
	<span class="usvn_label"><?php echo T_("Firstname"); ?>:</span>
	<?php echo $this->formText('users_firstname', (isset($this->user) ? $this->user->firstname : null)); ?>
	<br />
	<span class="usvn_label"><?php echo T_("Email"); ?>:</span>
	<?php echo $this->formText('users_email', (isset($this->user) ? $this->user->email : null)); ?>
	<br />
	<?php if (isset($this->user)) echo $this->formHidden('users_id', $this->user->id); ?>
	<?php echo $this->formSubmit('submit', T_("Submit"), array("onClick" => 'return checkForm();')); ?>
	<br /><br />
	<div id="error" class="usvn_error"></div>
</form>
<br />
<a href="<?php echo $this->url(array('action' => '')); ?>"><?php echo T_('Return'); ?></a>
