<fieldset>
	<legend>
		<?php echo T_("Project's attachements"); ?>
	</legend>
	<form name="workgroups" method="post" action="<?php echo $this->url(); ?>">
		<select name="projects_id[]" multiple size="7">
		<?php
		if (count($this->allProjects)) {
			foreach ($this->allProjects as $project) {
				$line = "<option value='$project->projects_id'>$project->projects_name</option>";
				foreach ($this->attachedProjects as $selectedProject) {
					if ($project->projects_name == $selectedProject['projects_name']) {
						$line = "<option value='$project->projects_id' selected>$project->projects_name</option>";
						break;
					}
				}
				echo $line;
			}
		}
		?>
		</select>
		<?php echo $this->formHidden('group_id', $this->group_id); ?>
		<br />
		<span onclick="selectObjectForm('projects_id[]')" class="usvn_action_js">
			<?php echo T_('Select all'); ?>
		</span>
		 /
		<span onclick="deSelectObjectForm('projects_id[]')" class="usvn_action_js">
			<?php echo T_('Select none'); ?>
		</span>
		<br />
		<?php echo $this->formSubmit('submit', T_("Submit")); ?>
	</form>
</fieldset>
