<form name="project" method="post" action="<?php echo $this->url(); ?>">
	<table>
		<tr>
			<td><?php echo T_("Project name"); ?></td>
			<td><?php echo $this->formText('projects_name', (isset($this->project) ? $this->project->name : null)); ?></td>
		</tr>
		<tr>
			<td><?php echo T_("Project description"); ?></td>
			<td><?php echo $this->formTextarea('projects_description', (isset($this->project) ? $this->project->description : null)); ?><br></td>
		</tr>
		<tr>
			<td colspan="2"><?php echo $this->formSubmit('submit', T_("Submit")/*, array("onClick" => 'return false;')*/); ?></td>
		</tr>
	</table>
	<?php
	if (isset($this->project)) {
		echo $this->formHidden('projects_id', $this->project->id);
		echo $this->formHidden('projects_start_date', date("Y/m/d h:m:s"));
	}
	?>
</form>
<br />
<a href="<?php echo $this->url(array('action' => '')); ?>"><?php echo T_('Return'); ?></a>
