<script type="text/javascript">
HTMLTableToolsOptions.skipCells = [4];
</script>
<h1 id="usvn_title"><?php echo T_("Projects list"); ?></h1>
<?php

print '<table class="sortable" id="project">' .
		'<thead><tr>' .
		'<th>' . T_('Name') . '</th>' .
		'<th>' . T_('Start Date') . '</th>' .
		'<th>' . T_('Description') . '</th>' .
		'<th>' . T_('Action') . '</th>' .
		'</tr></thead><tbody>';

if (count($this->projects)) {
	foreach ($this->projects as $project) {
		$edit = $this->url(array('action' => 'edit', 'name' => $project->name));
		$delete = $this->url(array('action' => 'delete', 'name' => $project->name));
		$edit_text = T_("Edit");
		$delete_text = T_("Delete");
		$line = <<<EOF
		<tr>
			<td>{$project->projects_name}</td>
			<td>{$project->projects_start_date}</td>
			<td>{$project->projects_description}</td>
			<td><a href="{$edit}">{$edit_text}</a>&nbsp;<a href="{$delete}">{$delete_text}</a></td>
		</tr>\n
EOF;
		echo $line;
	}
}
print '</tbody></table><br />';

