<h1 id="usvnPageTitle"><?php echo T_("Projects list"); ?></h1>

<?php

print '<table class="tborder">' .
		'<thead><tr class="titlebg">' .
		'<th>' . T_('Name') . '</th>' .
		'<th>' . T_('Start Date') . '</th>' .
		'<th>' . T_('Description') . '</th>' .
		'<th>' . T_('Action') . '</th>';
		'</tr></thead><tbody>';

if (count($this->projects)) {
	foreach ($this->projects as $project) {
		$edit = $this->url(array('action' => 'edit', 'name' => $project->name));
		$delete = $this->url(array('action' => 'delete', 'name' => $project->name));
		$edit_text = T_("Edit");
		$delete_text = T_("Delete");
		$line = <<<EOF
		<tr class='odd'>
			<td>{$project->projects_name}</td>
			<td>{$project->projects_start_date}</td>
			<td>{$project->projects_description}</td>
			<td><a href="{$edit}">{$edit_text}</a>&nbsp;<a href="{$delete}">{$delete_text}</a></td>
		</tr>\n
EOF;
		echo $line;
	}
}
print '</tbody></table><br />';
print "<a href='" . $this->url(array('action' => 'new')) . "'>" . T_('Add a new project') . "</a>";

