<div class="usvn_info">
	<h1><?php echo T_("Step");?> 1: Welcome on USVN</h1>
	<p>Thank you for choosing our solution.<br />
	</p>
</div>
<h2>What is USVN ?</h2>
<p>
	USVN is an Open Source free software allowing everybody to use Subversion in an easily way.
</p>
<h4>How to make an easy use of SVN?</h4>
<p>
	USVN is a web application with an easy interface to do every SVN configuration like user, access,
	management or hook configuration. Hooks are specific to each repository and let us do some interesting
	actions like deny a commit with a blank message or checking syntax of <acronym title="Hypertext Preprocessor">PHP</acronym> file.
	USVN has two different running modes:
</p>
	<ul>
		<li>Integration into the official SVN server hooks.</li>
		<li>His own SVN protocol implementation.</li>
	</ul>
<p>
For each mode, USVN provides the same functionnalities :
</p>
	<ul>
		<li>SVN repositories management</li>
		<li>A plugin manager for extend USVN features like a wiki, bug tracker, anything.</li>
	</ul>
<p>
	USVN is compatible with the original SVN protocol and is available on LAMP plateform.
</p>
<br />
<form action="index.php?step=2" method="POST">
<input type="submit" value="<?php echo T_("Next step");?>" />
</form>
