<h1><?php echo T_("Step");?> 6: <?php echo T_("Create administrator user");?></h1>
<form action="index.php?step=7" method="POST">
	<table>
		<tr>
			<td><?php echo T_("Login");?>:</td>
			<td><input type="text" name="login" value="<?php
																							if (isset($_POST['login'])) {
																								echo $_POST['login'];
																							}
																						?>"/></td>
		</tr>
		<tr>
			<td><?php echo T_("Password");?>:</td>
			<td><input type="password" name="password" /></td>
		</tr>
	</table>
	<input type="submit" value="<?php echo T_("Next step");?>">
</form>

