<div class="usvn_info">
	<h1><?php echo T_("Step");?> 5: <?php echo T_("Database installation"); ?></h1>
</div>
<div id="usvn_logo_install_step">
	<img src="../medias/default/images/CrystalClear/128x128/apps/database.png">
</div>
<form action="index.php?step=6" method="POST">
	<table>
		<tr>
			<td>
				<label class="usvn_desc" for="host">
				<?php echo T_("Host");?>:
			</td>
			<td>
				<input type="text" name="host" id="host" value="<?php
					if (isset($_POST['host'])) {
						echo $_POST['host'];
					}
					else {
						echo "localhost";
					}
				?>" />
				</label>
			</td>
		</tr>
		<tr>
			<td>
				<label class="usvn_desc" for="user">
				<?php echo T_("Login");?>:</td>
			<td>
				<input type="text" name="user" id="user" value="<?php
					if (isset($_POST['user'])) {
						echo $_POST['user'];
					}
					else {
						echo "root";
					}
				?>" />
				</label>
			</td>
		</tr>
		<tr>
			<td>
				<label class="usvn_desc" for="password">
				<?php echo T_("Password");?>:
			</td>
			<td>
				<input type="password" name="password" id="password" onclick="this.select();" />
				</label>
			</td>
		</tr>
		<tr>
			<td>
				<label class="usvn_desc" for="database">
				<?php echo T_("Database");?>:
			</td>
			<td>
				<input type="text" name="database" id="database" value="<?php
					if (isset($_POST['database'])) {
						echo $_POST['database'];
					}
					else {
						echo "usvn";
					}
				?>" />
				</label>
			</td>
		</tr>
		<tr>
			<td>
				<label class="usvn_desc" for="prefix">
				<?php echo T_("Table prefix");?>:
			</td>
			<td>
				<input type="text" name="prefix" id="prefix" value="<?php
					if (isset($_POST['prefix'])) {
						echo $_POST['prefix'];
					}
					else {
						echo "usvn_";
					}
				?>" />
				</label>
			</td>
		</tr>
	</table>
	<hr />
	<input type="submit" value="<?php echo T_("Next step");?>">
</form>

