<div class="usvn_info">
	<h1><?php echo T_("Step");?> 4: <?php echo T_("Configure USVN"); ?></h1>
	<p><?php echo T_("Settings of general configuration of USVN. You can keep default settings."); ?></p>
</div>
<form action="index.php?step=5" method="post">
<div id="usvn_logo_install_step"
	style="background-image: url('../medias/default/images/CrystalClear/128x128/apps/Network Connection Manager.png');">
	<table>
		<tr>
			<td>
				<label class="usvn_label" for="pathSubversion">
				<?php echo T_("Page title");?>:
			</td>
			<td>
				<input type="text" name="title" value="<?php
					if (isset($_POST['title'])) {
						echo $_POST['title'];
					}
					else {
						echo "USVN";
					}
				?>" />
				</label>
			</td>
		</tr>
		<tr>
			<td>
				<label class="usvn_label" for="pathSubversion">
				<a href="#" class="usvn_tooltips">
					<?php echo T_("Subversion repository");?>
					<span><?php echo T_("Location where usvn will create subversion repository."); ?></span>
				</a>:
			</td>
			<td>
				<input type="text" size="67" name="pathSubversion" value="<?php
				echo dirname(dirname(dirname(__FILE__))) . DIRECTORY_SEPARATOR . "files" . DIRECTORY_SEPARATOR;
				?>" />
				</label>
			</td>
		</tr>
		<tr>
			<td>
                               <label class="usvn_label" for="passwdFile">
                               <a href="#" class="usvn_tooltips">
                                       <?php echo T_("Subversion password file ");?>
                                       <span><?php echo T_("Location where usvn will create password file."); ?></span>
                               </a>:
                       </td>
                       <td>
                               <input type="text" size="67" name="passwdFile" value="<?php
                               echo dirname(dirname(dirname(__FILE__))) . DIRECTORY_SEPARATOR . "files" . DIRECTORY_SEPARATOR . "htpasswd";
                               ?>" />
                               </label>
                       </td>
               </tr>
               <tr>
                       <td>
                               <label class="usvn_label" for="authzFile">
                               <a href="#" class="usvn_tooltips">
                                       <?php echo T_("Subversion access file") ;?>
                                       <span><?php echo T_("Location where usvn will create access file."); ?></span>
                               </a>:
                       </td>
                       <td>
                               <input type="text" size="67" name="authzFile" value="<?php
                               echo dirname(dirname(dirname(__FILE__))) . DIRECTORY_SEPARATOR . "files" . DIRECTORY_SEPARATOR . "authz";
                               ?>" />
                               </label>
                       </td>
               </tr>
               <tr>
                       <td>
				<label class="usvn_label" for="urlSubversion">
				<a href="#" class="usvn_tooltips">
					<?php echo T_("Subversion url");?>
					<span><?php echo T_("The url used by users to checkout projects."); ?></span>
				</a>:
			</td>
			<td>
				<input type="text" size="67" name="urlSubversion" value="<?php
				if (isset($_SERVER['HTTPS'])) {
					$method = "https://";
					$port = ($_SERVER['SERVER_PORT'] != 443) ? (":" . $_SERVER['SERVER_PORT']) : "";
				}
				else {
					$method = "http://";
					$port = ($_SERVER['SERVER_PORT'] != 80) ? (":" . $_SERVER['SERVER_PORT']) : "";
				}
				echo $method . $_SERVER['SERVER_NAME'] . $port . preg_replace("/\/install.*/", "/svn", $_SERVER['REQUEST_URI']);
				?>" />
				</label>
			</td>
		</tr>
	</table>
</div>
	<hr />
	<input type="submit" value="<?php echo T_("Next step");?>" />
</form>
