<h1><?php echo T_("Step");?> 4: <?php echo T_("Configure USVN");?></h1>
<form action="index.php?step=5" method="POST">
	<table>
		<tr>
			<td><?php echo T_("Page title");?>:</td>
			<td>
				<input type="text" name="title" value="<?php
					if (isset($_POST['title'])) {
						echo $_POST['title'];
					}
					else {
						echo "USVN";
					}
				?>" />
			</td>
		</tr>
		<tr>
			<td><?php echo T_("Description");?>:</td>
			<td>
				<textarea name="description" rows="5" cols="50"><?php
					if (isset($_POST['description'])) {
						echo $_POST['description'];
					}
				?></textarea>
			</td>
		</tr>
		</table>
	<input type="submit" value="<?php echo T_("Next step");?>" />
</form>
