<h1><?php echo T_("Step");?> 2: Language selection</h1>
<form action="index.php?step=3" method="POST">
<table>
	<tr>
		<td><?php echo T_("Default language");?>:</td>
		<td>
			<select name="language">
				<?php
					foreach (USVN_Translation::listTranslation() as $language) {
						$selected = "";
						if ($language == "en_US") {
							$selected = "selected";
						}
						echo "<option $selected>$language</option>";
					}
				?>
			</select>
		</td>
	</tr>
</table>
<input type="submit" value="<?php echo T_("Next step");?>" />
</form>
