<script type="text/javascript">
function checkForm() {
	spanError = document.getElementById('error');
	var checkRegExp = new RegExp("^[ \t]*$");
	if (document.createAdmin.login.value.length == 0
		|| checkRegExp.test(document.createAdmin.login.value)) {
		spanError.innerHTML = '<?php echo T_('Login empty.');?>';
		spanError.className = "usvn_error";
		return false;
	}
	if (document.createAdmin.lastname.value.length == 0
		|| checkRegExp.test(document.createAdmin.lastname.value)) {
		spanError.innerHTML = <?php echo T_('Lastname empty.');?>';
		spanError.className = "usvn_error";
		return false;
	}
	if (!document.createAdmin.password.value.length || !document.createAdmin.password2.value.length) {
		spanError.innerHTML = '<?php echo T_('Password empty.');?>';
		spanError.className = "usvn_error";
		return false;
	}
	if (document.createAdmin.password.value != document.createAdmin.password2.value) {
		spanError.innerHTML = '<?php echo T_('Password incorrect (not the same).');?>';
		spanError.className = "usvn_error";
		return false;
	}
	if (document.createAdmin.password.value.length < 8) {
		spanError.innerHTML = '<?php echo T_('Password incorrect (need more 8 characters).');?>';
		spanError.className = "usvn_error";
		return false;
	}
	spanError.innerHTML = '';
	spanError.className = "";
	return true;
}
</script>
<h1><?php echo T_("Step");?> 6: <?php echo T_("Create administrator user");?></h1>
<form name="createAdmin" action="index.php?step=7" method="POST">
	<table>
		<tr>
			<td><?php echo T_("Login");?>:</td>
			<td>
					<input type="text" name="login" value="<?php
						if (isset($_POST['login'])) {
							echo $_POST['login'];
						}
					?>"/>
			</td>
		</tr>
		<tr>
			<td><?php echo T_("Firstname");?>:</td>
			<td>
					<input type="text" name="firstname" value="<?php
						if (isset($_POST['firstname'])) {
							echo $_POST['firstname'];
						}
					?>"/>
			</td>
		</tr>
		<tr>
			<td><?php echo T_("Lastname");?>:</td>
			<td>
					<input type="text" name="lastname" value="<?php
						if (isset($_POST['lastname'])) {
							echo $_POST['lastname'];
						}
						else {
							echo T_("Administrator");
						}
					?>"/>
			</td>
		</tr>
		<tr>
			<td><?php echo T_("Password");?>:</td>
			<td><input type="password" name="password" /></td>
		</tr>
		<tr>
			<td><?php echo T_("Confirm password");?>:</td>
			<td><input type="password" name="password2" /></td>
		</tr>
	</table>
	<br /><br />
	<div id="error"></div>
	<input type="submit" value="<?php echo T_("Next step");?>" onclick="return checkForm();">
</form>
