<div class="usvn_info">
	<h1><?php echo T_("Step");?> 7: <?php echo T_("Installation is over"); ?></h1>
	<p><?php echo T_("You can now enjoy of USVN."); ?></p>
</div>
<div id="usvn_logo_install_step"
	style="background-image: url(../medias/default/images/CrystalClear/128x128/actions/edit.png); height: 320px;">
	<h2><?php echo T_('Apache configuration');?></h2>
		<?php echo T_('Last step is to configure subversion into apache. Copy past following lines at the end of your <span style="font-style: italic">httpd.conf</span>:');?>
		<textarea rows="12" cols="80" onclick="this.select();"><?php echo htmlspecialchars($GLOBALS['apacheConfig']);?></textarea>
		<br />
		<?php echo T_('And restart your server with <span style="font-style: italic">apache2ctl restart</span>.')?>
</div>
<hr />
<br />
<a href="../" class="usvn_button"><?php echo T_("Connect to USVN");?></a>
