<div class="usvn_info">
	<h1><?php echo T_("Step");?> 7: <?php echo T_("Installation is over"); ?></h1>
	<p><?php echo T_("You can now enjoy of USVN."); ?></p>
</div>
<div id="usvn_logo_install_step">
	<img src="../medias/default/images/CrystalClear/128x128/actions/edit.png">
</div>
<h2><?php echo T_('Apache configuration');?></h2>
<?php echo T_('Last step is to configure subversion into apache. Copy past following lines at the end of your <i>httpd.conf</i>:');?>
<textarea rows="15", cols="80">
<?php echo htmlspecialchars($GLOBALS['apacheConfig']);?>
</textarea>
<br />
<?php echo T_('And restart your server with <i>apache2ctl restart</i>.')?> <i>
<hr />
<a href="../"><?php echo T_("Connect to USVN");?></a>
