<div class="usvn_info">
	<h1><?php echo T_("Step");?> 7: <?php echo T_("Check for update"); ?></h1>
	<p><?php echo T_("PRIVACY DESCRIPTION UPDATE UPDATE UPDATE UPDATE UPDATE UPDATE UPDATE UPDATE."); ?></p>
</div>
<div id="usvn_logo_install_step"
	style="background-image: url(../medias/default/images/CrystalClear/128x128/actions/edit.png); height: 320px;">
</div>
<hr />
<form name="createAdmin" action="index.php?step=8" method="post">
	<input type="hidden" name="update" value="1" />
	<input type="submit" value="<?php echo T_("Allow check update and send statistics informations");?>" />
</form>
&nbsp;
<form name="createAdmin" action="index.php?step=8" method="post">
	<input type="hidden" name="update" value="0" />
	<input type="submit" value="<?php echo T_("Don't check update");?>" />
</form>
