<script type="text/javascript">
HTMLTableToolsOptions.skipCells = [5];
</script>
<div class="usvn_info_user">
	<h1><?php echo T_("Users"); ?></h1>
	<p>
		<?php echo T_("Administration of the users."); ?>
	</p>
</div>

<?php
print '<table class="sortable" id="users">' .
		'<thead><tr>' .
		'<th>' . T_('Login') . '</th>' .
		'<th>' . T_('Firstname') . '</th>' .
		'<th>' . T_('Lastname') . '</th>' .
		'<th>' . T_('Email') . '</th>' .
		'<th>' . T_('Action') . '</th>' .
		'</tr></thead><tbody>';

if (count($this->users)) {
	foreach ($this->users as $user) {
		$line = <<<EOF
		<tr>
			<td>{$user->users_login}</td>
			<td>{$user->users_firstname}</td>
			<td>{$user->users_lastname}</td>
			<td>{$user->users_email}</td>
			<td><a href="{$this->url(array('action' => 'edit', 'login' => $user->users_login))}">Edit</a>
			&nbsp;
			<!--<a href="{$this->url(array('action' => 'delete', 'login' => $user->users_login))}">Delete</a>--></td>
		</tr>\n
EOF;
		echo $line;
	}
}
print '</tbody></table><br />';
?>
