<script type="text/javascript">
HTMLTableToolsOptions.skipCells = [3];
</script>
<div class="usvn_info_project">
	<h1><?php echo T_("Projects"); ?></h1>
</div>
<?php

print '<table class="sortable" id="project">' .
		'<thead><tr>' .
		'<th>' . T_('Name') . '</th>' .
		'<th>' . T_('Description') . '</th>' .
		'<th>' . T_('Action') . '</th>' .
		'</tr></thead><tbody>';

if (count($this->projects)) {
	foreach ($this->projects as $project) {
		$adminurl = $this->url(array('controller' => 'project', 'action' => null, 'project' => $project->name), 'project', true);
		$editurl = $this->url(array('action' => 'edit', 'name' => $project->name));
		$deletetext = T_("Do you really want to delete project %s?");
		echo <<<EOF
		<tr>
			<td>
				<a href="{$adminurl}">{$project->projects_name}</a>
			</td>
			<td>
				<a href="{$editurl}">{$project->projects_description}</a>
			</td>
			<td>
                {$this->editLink('name', $project->name)}
                {$this->deleteLink('name', $project->name, $deletetext)}
            </td>
		</tr>
EOF;
	}
}
print '</tbody></table><br />';

