<?php echo '<?xml version="1.0" encoding="utf-8"?>'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title><?= T_("USVN installation") ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../medias/usvn/stylesheets/installer.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="usvn_page">
		<div id="usvn_banner">
			<div id="usvn_header">
				<div id="usvn_logo">
					<img src="../medias/usvn/images/logo_trans.png" alt="USVN, Userfriendly SVN" />
				</div>
			</div>
		</div>
		<div id="content">
