<div class="usvn_info">
	<h1><?php echo T_($installSteps[$step]); ?></h1>
	<p><?= T_('Select your language and time zone.') ?></p>
</div>
<br />
<form action="?step=3" method="post">
	<label class="usvn_label" for="lang">
		<?= T_('Default language') ?>:
	</label>
	<select name="language" id="lang">
		<?php
			$locale = new Zend_Locale('en_US');
			foreach (USVN_Translation::listTranslation() as $language)
			{
				$selected = '';
				if (isset($_POST['language']))
				{
					if ($language == $_POST['language'])
						$selected = 'selected="selected"';
				}
				else
				{
					if ($language == 'en_US')
						$selected = 'selected="selected"';
				}
				$locale2 = new Zend_Locale($language);
				$lang_name = $locale->getLanguageTranslation($locale2->getLanguage());
				echo "<option $selected value=\"$language\">$lang_name</option>";
			}
		?>
	</select>
	<br />
	<br />
	<label class="usvn_label" for="timezone">
		<?= T_('Default timezone') ?>:
	</label>
	<select name="timezone" id="timezone">
		<?php
			$timezones = Zend_Locale_Data::getList('en', 'WindowsToTimezone');
			ksort($timezones);
			foreach ($timezones as $timezone => $display)
			{
				$selected = '';
				if (isset($_POST['timezone']))
				{
					if ($timezone == $_POST['timezone'])
						$selected = 'selected="selected"';
				}
				else
				{
					if ($language == 'en_US')
						$selected = 'selected="selected"';
				}
				echo "<option $selected value=\"$timezone\">$timezone</option>";
			}
		?>
	</select>
	<br />
	<br />
	<hr />
	<div>
		<input type="submit" value="<?= T_('Next step') ?>" />
	</div>
</form>
