<div class="usvn_info">
	<h1><?php echo T_($installSteps[$step]); ?></h1>
</div>
<?= T_("
<p>During update checks, USVN will send information regarding of your installation.</p>
<p>
This information is only collected for statistical purposes and allow
us to better know the platforms on which USVN is installed.
</p>
<p>
Here is a list of what we want to collect:
<ul>
<li>IP (to get geographical position statistics of USVN in the world)</li>
<li>The PHP version</li>
<li>The SVN version</li>
<li>The USVN version</li>
<li>The contents of phpinfo()</li>
<li>The used database driver</li>
<li>The used translation</li>
</ul>
</p>
<p>
If you do not want this information to be collected, you juste have to
disable the update notification.
</p>
") ?>
<br />
<hr />
<form name="checkUpdate" action="?step=8" method="post">
	<input type="hidden" name="update" value="1" />
	<input type="submit" value="<?= T_("Allow check update and send statistics informations") ?>" />
</form>
&nbsp;
<form name="createAdmin" action="?step=8" method="post">
	<input type="hidden" name="update" value="0" />
	<input type="submit" value="<?= T_("Don't check update") ?>" />
</form>
