<h1>Changeset <?php echo $this->revision->getRevisionNumber(); ?></h1>
<div id="usvn_toolbox">
	<ul>
		<li><a href="<?php echo $this->url(array('revision' => ''))?>"><?php echo T_("Last revision");?></a></li>
		<?php
		if ($this->revision->getRevisionNumber() > 1) {
			echo '<li><a href="' . $this->url(array('revision' => $this->revision->getRevisionNumber() - 1)) . '">' . T_("Previous revision") . '</a></li>';
		}
		?>
		<li><a href="<?php echo $this->url(array('revision' => $this->revision->getRevisionNumber() + 1))?>"><?php echo T_("Next revision");?></a></li>
	</ul>
	<form action="<?php echo $this->url(array('revision' => ''));?>" method="POST">
		<input type="text" name="revision" size="4" value="<?php echo $this->revision->getRevisionNumber();?>">
		<input type="submit" value="<?php echo T_("Go to revision");?>">
	</form>
</div>
<table>
	<tr>
		<td>Timestamp:</td>
		<td><?php echo $this->revision->getDate();?></td>
	</tr>
	<tr>
		<td>Author:</td>
		<td><?php echo $this->revision->getAuthor()->login;?></td>
	</tr>
	<tr>
		<td>Message:</td>
		<td><?php echo $this->revision->getMessage();?></td>
	</tr>
	<tr>
		<td>Files:</td>
		<td>
			<table>
				<td></td>
				<td>trunk/www/medias/images/epitech_button.gif</td>
			</table>
		</td>
	</tr>
</table>
